# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.qm
*.P
OcultCoind
obj/*.o
obj/*.P
obj-test/*.o
obj-test/*.P
obj/build.h
leveldb/libleveldb.a
leveldb/libmemenv.a

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
